$switch-width: $baseline-grid * 4;
$switch-height: $baseline-grid * 2;

$thumb-size: $baseline-grid * 2;
$bar-height: $thumb-size - 8;

md-switch {

  width: $switch-width;
  height: $switch-height;
  position: relative;
  user-select: none;

  display: flex;
  align-items: center;

  .md-bar {
    left: $thumb-size / 2;
    width: $switch-width - $thumb-size;
    top: $switch-height / 2 - $bar-height / 2;
    height: $bar-height;
    background: blue;
    position: absolute;
  }

  .md-thumb-container {
    top: 0;
    left: 0;
    width: $switch-width - $thumb-size;
    position: absolute;
    transition: transform 0.2s linear;
    transform: translate3d(0,0,0);
  }
  &.no-animate .md-thumb-container {
    transition-duration: 0s;
  }
  &.md-checked .md-thumb-container {
    transform: translate3d(100%,0,0);
  }

  .md-thumb {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    outline: none;
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 50%;
    background: red;
  }

}
